@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

:root {
    --primary-color: #871F78;
    --mid-color: #e9d5ff;
}
body {
    margin: 0px;
    font-family: 'Fasthand', cursive;
}

/**Container**/
.container {
    padding: 0rem 1rem;
}
h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--mid-color);
}

#header{
    
}