/* @import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Mate:ital@1&family=Open+Sans:ital,wght@1,300&family=Sacramento&display=swap");

:root {
  --primary-color: #871f78;
  --mid-color: #e9d5ff;
}
body {
  margin: 0px;
  font-family: "Mate", cursive;
}

/* Textbox */

textarea {
  width: 40rem;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  padding: 0.5rem;
  align-items: center;
  margin: 2rem auto; /* Updated to use 'auto' for left and right margins */
}

/**Container**/
.container {
  padding: 1rem 0rem;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--mid-color);
}

header {
  background-color: var(--primary-color);
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--mid-color);
  border-radius: 4rem;
}

/* button */
button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  margin: 0 auto;
  display: block;
}

/* Button */
button .btn-translate {
  padding-bottom: 1rem;
  margin: 0 auto;
}
/* output */
#output {
  width: 39rem;
  height: 10rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  padding: 1rem;
  margin: 0 auto; /* Updated to use 'auto' for left and right margins */
}
.output-text {
  text-align: center;
}

/* footer */
footer {
  background-color: var(--primary-color);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
}

.footer-text {
  padding: 0.5rem 5rem;
  text-align: center;
  font-size: 1rem;
  color: var(--mid-color);
}

/* link*/
.link {
  text-decoration: none;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  -webkit-text-fill-color: var(--mid-color);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
}
